<% provide(:title, "Home") %>
<h1>Welcome to our App</h1>
<%= link_to "About us", about_url %>
<%= link_to "Contact", contact_url %>
<%= link_to "FAQ", faq_url %>
<%= link_to "Home", root_url %>
<p>This the home of the fantastic ruby girls</p>
<p> Commonly known as ROR girls</p>

<%= link_to "Sign Up Now", '#' %>











